# 0. Import các thư viện cần thiết

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. Đọc dữ liệu từ file CSV

In [2]:
df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31020936/GDPlist.csv", encoding = "ISO-8859-1")
df

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

# 2. Tính giá trị lớn nhất và nhỏ nhất của GDP

In [4]:
# Xét biến định lượng GDP
df_gdp = df.loc[:,"GDP (millions of US$)"]
df_gdp

0       18181
1       12847
2      190709
3      100948
4      447644
        ...
120     45353
121    315841
122    122722
123     33675
124     19206
Name: GDP (millions of US$), Length: 125, dtype: int64

In [5]:
# Giá trị GDP lớn nhất
df_gdp.max()

15094025

In [6]:
# Giá trị GDP nhỏ nhất
df_gdp.min()

10600

# 3. Xu hướng phân bố dữ liệu của GDP

In [7]:
# Số giá trị GDP xuất hiện nhiều nhất
df_gdp.mode()[0]

10600

In [8]:
# Giá trị trung vị của GDP
df_gdp.median()

96089.0

In [9]:
# Giá trị trung bình của GDP
df_gdp.mean()

555427.784

Kết luận:
+) Mode < median < mean: Dữ liệu phân bố lệch phải
Các câu hỏi chưa có lời giải đáp:
- Dữ liệu lệch phải là tốt hay xấu, nếu là xấu thì cần làm gì?
- Trong các kiểu phân bố dữ liệu thì mong muốn nhất sẽ rơi vào phân bố nào?
...

# 4. Châu lục xuất hiện nhiều nhất

In [10]:
# Xét biến định tính "Continent"
df_cont = df.loc[:, "Continent"]
df_cont

0               Asia
1             Europe
2             Africa
3             Africa
4      South America
           ...
120             Asia
121    South America
122             Asia
123           Africa
124           Africa
Name: Continent, Length: 125, dtype: object

In [11]:
# Châu lục xuất hiện nhiều nhất
df_cont.mode()[0]

'Europe'

In [12]:
df_cont.describe()

count        125
unique         6
top       Europe
freq          37
Name: Continent, dtype: object

# 5. Tính tổng GPD và trung bình cộng GDP mỗi châu lục. Hợp nhất thành một bảng duy nhất gồm 3 thông tin: Tên châu lục, Tổng GDP, TBC GDP

In [13]:
# tính tổng GDP của mỗi châu lục
df1 = df.pivot_table(values = "GDP (millions of US$)", index = "Continent", aggfunc = "sum")
df1

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727
South America                4141217

In [24]:
df1.rename(columns = {"GDP (millions of US$)": "Tong GDP", "Continent": "Chau luc"}, inplace = True)
df1

               Tong GDP
Continent
Africa          1820811
Asia           24425891
Europe         19139380
North America  18238447
Oceania         1662727
South America   4141217

In [25]:
# tính trung bình cộng GDP mỗi châu lục
df2 = df.pivot_table(values = "GDP (millions of US$)", index = "Continent", aggfunc = "mean")
df2

               GDP (millions of US$)
Continent
Africa                  6.278659e+04
Asia                    6.784970e+05
Europe                  5.172805e+05
North America           1.658041e+06
Oceania                 5.542423e+05
South America           4.601352e+05

In [26]:
df2.rename(columns = {"GDP (millions of US$)": "TBC GDP", "Continent": "Chau luc"}, inplace = True)
df2

                    TBC GDP
Continent
Africa         6.278659e+04
Asia           6.784970e+05
Europe         5.172805e+05
North America  1.658041e+06
Oceania        5.542423e+05
South America  4.601352e+05

In [27]:
# Hợp nhất DataFrame "Tổng GDP" và "TBC GDP"
df_concat = pd.concat([df1, df2], axis = 1)
df_concat

               Tong GDP       TBC GDP
Continent
Africa          1820811  6.278659e+04
Asia           24425891  6.784970e+05
Europe         19139380  5.172805e+05
North America  18238447  1.658041e+06
Oceania         1662727  5.542423e+05
South America   4141217  4.601352e+05